* {
  margin: 0;
  padding: 0;
}

header {
  overflow: hidden;
}

._text-zone {
  width: 100%;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  background: rgb(24, 26, 37);
  background: linear-gradient(90deg, rgba(24, 26, 37, 1) 0%, rgba(24, 26, 37, 1) 4%, rgba(21, 43, 85, 1) 100%, rgba(6, 32, 48, 1) 100%);
}
